:root {
    --text-color: #cecece;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #000;
  color: var(--text-color);
}

nav {
    background-color: #242424;
    margin-bottom: 0px !important;
}

nav > .container-fluid {
    width: 1300px;
}

.below-nav {
    background-color: #242424;
    margin-top: 0;
    border-top: 1px solid #808080;
}

.below-nav >ul >li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}


footer {
    background-color: #242424;
}

main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*background-color: #1d1d1d*/
}

.logo-img {
    height: 50px;
}

.navbar-search {
    width: 100%;
    text-align:center;
    
}

    .navbar-search > form > input[type="text"] {
        border: none;
        background-color: #1d1d1d;
        width: 20%;
        padding: 7px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        color: #808080;
        transition: all 0.1s ease-in-out;
    }

    .navbar-search > form > input[type="text"]:hover {
        background-color: #272727;

    }

    .navbar-search > form > input[type="text"]:focus {
        border: none;
        text-decoration: none;
        outline: none;
        width: 45%;
    }

.better-nlink {
    color: #8f8f8f !important;
}

.better-nlink:hover {
    color: #b4b4b4 !important;
}

/*VIDEO CLASS*/

.video-class > a {
    text-decoration: none;
    color: white;
}

    .video-class > a:hover > h5 {
        color: #e89343;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
